* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: #9b1112;
}
body {
  background-color: black;
  color: white;
}
body::-webkit-scrollbar {
  width: 0.7vw;
  background-color: black;
}
body::-webkit-scrollbar-track {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10vw;
}

.header {
  text-align: center;
  height: 15vh;
  line-height: 15vh;
  width: 100%;
  background-color: var(--red);
  border-bottom: 0.1vw solid white;
  user-select: none;
}
.header h1 {
  margin: auto;
  font-size: 3vw;
  text-shadow: 1px 1px 1px grey;
}

.search_area {
  border-bottom: 0.1vw solid white;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  user-select: none;
  z-index: 1000;
}

.search_input {
  font-size: 1vw;
  margin: 0 2vw 0 1vw;
  width: 12vw;
  height: 4vh;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 0.1vw solid white;
}

.search_area button {
  font-size: 1vw;
  padding: 0.1vw;
  width: 5vw;
  height: 5vh;
  border: 0.1vw solid white;
  border-radius: 0.5vw;
  background-color: black;
  color: white;
  cursor: pointer;
}

.content {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin: 2%;
}
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.1vw solid white;
  border-radius: 0.5vw;
  padding: 1.5%;
  margin: 2% 1%;
  width: 90%;
  height: 90%;
  font-size: 1vw;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}
.card img {
  margin: auto;
  width: 80%;
  border-radius: 0.5vw;
}
.title {
  font-size: 1.5vw;
  font-weight: bold;
}
.overview {
  margin: 3vw 0 2vw 0;
  padding: 0 0.5vw;
  flex-wrap: wrap;
  width: 100%;
  height: 20vh;
  overflow: auto;
  overflow-x: hidden;
  word-break: break-all;
}
.overview::-webkit-scrollbar {
  width: 0.5vw;
  background-color: black;
}
.overview::-webkit-scrollbar-track {
  background-color: black;
}
.overview::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10vw;
}

.average_div {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  bottom: 20px;
  align-items: center;
  padding: 0.5vw;
}
.average {
  flex-wrap: nowrap;
}
.star_icon {
  color: yellow;
}

#movie_id {
  display: none;
}

.top_button {
  background: none;
  border: none;
  position: fixed;
  bottom: 4%;
  right: 2%;
  cursor: pointer;
}

.up_button {
  border-radius: 50%;
  font-size: 3vw;
  width: 5vw;
  height: 9vh;
  background-color: var(--red);
  color: white;
  border: 0.2vw solid white;
  padding: 10%;
}

.hide {
  opacity: 0;
}
